/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}

    html {
        font-size: 62.5%;
    }

    body {
        font-family: 'Public Sans', sans-serif;
        font-size: 1.6rem;
        line-height: 3rem;
        cursor: wait;
    }

    h1 {
        font-family: 'Ibarra Real Nova', serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: -0.45px;
        line-height: 5rem;
    }
    h2 {
        font-family: 'Ibarra Real Nova', serif;
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: -0.36px;
        line-height: 4.2rem;
    }
    h3 {
        font-family: 'Ibarra Real Nova', serif;
        font-weight: 700;
        font-size: 3.2rem;
        letter-spacing: -0.29px;
        line-height: 3.6rem;
    }

    .secondBody {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .anim {
        @apply transition-all ease-in-out duration-300
    }

    .small {
        @apply absolute right-[3.2rem] top-[5rem] flex flex-col w-[22.3rem] items-center justify-center gap-[3.2rem] py-[4rem] bg-primaryGreyishBlue text-white 
    }
}


@layer components {
    .desktop {
        @apply px-[16.4rem] mt-[6.4rem] mb-[5.4rem]
    }

    .tablet {
        @apply px-[3.9rem] mt-[6.4rem] mb-[4.7rem]
    }

    .mobile {
        @apply px-[3.2rem] mt-[3.2rem] mb-[4rem]
    }

    .btn {
        @apply uppercase flex items-center text-[1.2rem] 
    }
}

